/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */

.header {
  display: -webkit-flex;
  display: flex;
}
.title {
  background-color: rgb(197,0,0);
  color: white;
  height: 100px;
}

.league {
  display: -webkit-flex;
  display: flex;
}
.logo {
  vertical-align: middle;
  margin: 18px 0px 0px 5px;
}

.date {
  width: 80px;
}
.team {
  width: 170px;
  margin: 0px 10px 0px 10px;
}
.place {
  width: 12px;
  margin: 0px 10px 0px 10px;
}
.score {
  width: 30px;
  margin: 0px 10px 0px 10px;
}
.resultW {
  color: green;
  width: 12px;
  margin: 0px 10px 0px 10px;
}
.resultD {
  color: white;
  width: 12px;
  margin: 0px 10px 0px 10px;
}
.resultL {
  color: red;
  width: 12px;
  margin: 0px 10px 0px 10px;
}
/*
Premier league box
*/
.PLOddRow {
  display: -webkit-flex;
  display: flex;
  background: #D7DBDD;
  width: 400px;
}
.PLEvenRow {
  display: -webkit-flex;
  display: flex;
  background: #AAB7B8;
  width: 400px;
}
/*
more results to add here
*/

/*
Champions league
*/
.CLOddRow {
  display: -webkit-flex;
  display: flex;
  background: #5DADE2;
  width: 400px;
}
.CLEvenRow {
  display: -webkit-flex;
  display: flex;
  background: #D6EAF8;
  width: 400px;
}
/*
more results to add here
*/

/*
FA Cup
*/
.FAOddRow {
  display: -webkit-flex;
  display: flex;
  background: #D7BDE2;
  width: 400px;
}
.FAEvenRow {
  display: -webkit-flex;
  display: flex;
  background: #AF7AC5;
  width: 400px;
}
/*
Add more results here
*/
